################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/PerformanceDemo/.vs
/src/PerformanceDemo/MicroservicePublicApi/obj
/src/PerformanceDemo/MicroservicePublicApi/bin
/src/PerformanceDemo/MicroserviceWorker/bin
/src/PerformanceDemo/MicroserviceWorker/obj
/src/PerformanceDemo/PerformanceDemo/obj
/src/PerformanceDemo/RmqClient/bin
/src/PerformanceDemo/RmqClient/obj
/src/PerformanceDemo/WebApplication1/bin
/src/PerformanceDemo/WebApplication1/obj

# JMeter results and logs
*.jtl
jmeter.log
Tests/jmeter.log
Tests/results.jtl
